body {
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.share-button, .tile-share-button {
    width: 55px;
    height: 55px;
    border-radius: 20px;
    background-color: #547cff;
}

.share-button svg, .tile-share-button svg {
    margin: 10px 12px 0 0;
}

.container {
    width: 100%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

.tile {
    width: 100%;
    background-color: #252525;
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.02);
}

.tile-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #343434;
}

.tile-share-button svg {
    margin: 10px 12px 0 0;
}

.image-container {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.icon {
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
    }
    header {
        width: 100%;
        justify-content: center;
    }
    .share-button, .tile-share-button {
        width: 100px;
        height: 100px;
    }
    .icon {
        width: 100px;
        height: 100px;
        font-size: 36px; 
    }
    h1 {
        font-size: 24px; 
    }
    p {
        font-size: 16px; 
    }
}